@import 'mixins.scss';
@import 'variables.scss';

.brands-wrap {
  overflow: hidden;
  width: 100%;
  margin-top: 40px;
  padding:150px 0;
  font-family:$font-main;
  background:url(../img/newsletter.jpg) no-repeat center center;
  @include background_stretch;
}
.brands {
  padding:40px 0;
}
.newsletter {
  clear: both;
  float: none;
  display: block;
  width: 100%;
  background:#E29A2E;
  max-width: 780px;
  width: 100%;
  padding:40px 0 40px 30px;
  label {
    display: block;
    text-align: left;
    padding-bottom:20px;
    font-size: 3em;
    color: #fff;
      @include breakpoint(medium_screen1){
        font-size: 1.4em;
     }
  }
  input {
    width: 60%;
    float: left;
    height: 45px;
    margin-right: 5px;
    border:3px solid #fff;
    background:transparent;
    color:#fff;
    padding-left:15px;
    @include breakpoint(medium_screen1){
        width:90%;
        margin-bottom: 10px;
     }
  }
  button {
    @include buttons;
    float: none;
    border:3px solid #fff;
    background:#fff;
    color:#E29A2E;
    @include breakpoint(medium_screen1){
      clear: both;
      float: none;
      margin:0;
    }
  }
}
