@import 'mixins.scss';
@import 'variables.scss';



.store-wrap {
  clear: both;
  padding-top: 40px;
  background:url(../img/store-bg.png) no-repeat center center;
}

.bikes {
  padding-left:0;
  padding:0;
  overflow: hidden;
  font-weight: 300;
  font-family:$font-main;
  }
$items:items1 items2 items3 items4 items5 items6;

@each $item in $items {
  .gallery-#{$item} {
     padding-bottom:40px;
        position: relative;
        height:auto;
        @include breakpoint(medium_screen1){
          border:0;
        } 
      img {
        max-width: 450px;
        width: 100%;
        margin:0 auto;
        display: block;
         &:hover {
          opacity: .8;
         }
      }
      h3 {
        font-size: 1.8em;
        font-weight: 300;
        color:#000;
        text-align: left !important;
        padding-top:20px;
        padding-left:70px;
         @include breakpoint(medium_screen1){
          padding-left:10px;
        }
      }
      p {
        text-align: left;
        font-size: 1.3em;
        color: #F93300 !important;
        font-weight:100;
        padding-left:70px;
        @include breakpoint(medium_screen1){
          padding-left:10px;
        }
      }
  }
}
$titles:title1 title2 title3 title4 title5 title6;
@each $title in $titles {
  .img-#{$title} {
    display: none;
    top: 30%;
    left: 35%;
    position: absolute;
    background:#E29A2E;
    padding:10px 20px;
    color: #fff;
    font-size: 1.3em;
    font-family: $font5;
    
     &:hover {
      color: #fff;
      text-decoration: none;
      background:#217AA2;
     }
  }
}


.mob-info {
  display: none;
  @include breakpoint(medium_screen1){
    display: block;
    color: #000;
    padding:15px 0 15px 10px;
  }
}
.store-btn {
  @include buttons;
  float: none;
  margin:40px auto;
}