@import 'mixins.scss';
@import 'variables.scss';

.store-landing-bg {
  padding:200px 0;
   @include breakpoint(medium_screen1){
    padding:100px 0;
  }
}
.store-inner {
  margin:15px 0 0 0 !important;
}
.store-headline {
  font-size: 7em;
    font-weight: 100;
    margin:0;
    width: auto;
    padding:40px 40px 40px 15px;
    color: #fff;
    text-align: left;
    font-family: $font1;
     @include breakpoint(biggest_screen2){
          font-size: 4em;
          padding-left:20px;
      }
       @include breakpoint(medium_screen1){
          font-size: 2em;
      }
    span {
      background:#217AA2;
      padding:20px 30px;
    }
  }

