$font-main:'Montserrat', sans-serif;
$font9:'Montserrat900', sans-serif;
$font8:'Montserrat800', sans-serif;
$font7:'Montserrat700', sans-serif;
$font6:'Montserrat600', sans-serif;
$font5:'Montserrat500', sans-serif;
$font3:'Montserrat300', sans-serif;
$font2:'Montserrat200', sans-serif;
$font1:'Montserrat100', sans-serif;
$main-color:#2F2F2F;